body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #008DDA;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #740ae6; 
    color: #f9f9f9; 
}

tbody tr:nth-child(even) {
    background-color: #e7e7e7;
}

tbody tr:hover {
    background-color: #008DDA; 
}

td {
    color: #555; 
}