.matkul {  
    text-align: center;
    border: 2px solid black;
    position: relative;
    left: 15%;
    width: 90%;
    height: 90%;

}

.matkuls h1 { 
    color: #008DDA;
    font-size: 50px;
    padding: 0% 51% 2% 51%;
}

.footer {
    background-color: #008DDA;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    margin-top: 7%;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__copy {
    font-size: 1rem;
}